@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
     padding: 0;
     margin: 0;
     color: inherit;
     box-sizing: border-box;
     text-decoration: none;
     // outline: 1px solid rgba(255, 0, 0, 0.3);
     font-family: inherit;
}

body {
     font-family: "Main_Font";
     background-color: #000000;
     color: white;
     max-width: 1700px;
     // animation: name duration timing-function delay iteration-count direction fill-mode;
     margin: 0 auto;
}

@font-face {
     font-family: "Main_Font";
     src: url("./assets/fonts/Laviossa-Medium.otf");
}

@font-face {
     font-family: "Second_Font";
     src: url("./assets/fonts/AllertaStencil-Regular.ttf");
}

.top-right {
     animation: top-right 50s infinite;
}
.bottom-left {
     animation: bottom-left 50s infinite;
}
@keyframes top-right {
     0% {
     }
     20% {
          translate: 0 -200px;
     }
     40% {
          translate: 90vw -200px;
     }
     60% {
          translate: 90vw 0;
     }
     100% {
          translate: 0 0;
     }
}

@keyframes bottom-left {
     0% {
     }
     20% {
          translate: 0 200px;
     }
     40% {
          translate: -90vw 200px;
     }
     60% {
          translate: -90vw 0;
     }
     100% {
          translate: 0 0;
     }
}
