.courses-section {
     padding: 0 8%;
     .cards {
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
          translate: 0 300px;
          transition: 1.1s;
          opacity: 0;
          .card {
               width: 30%;
               padding: 1px;
               background: linear-gradient(to bottom, #ee043b, #541d29);
               border-radius: 20px;
          }
          img {
               width: 100%;
               scale: 0;
               opacity: 0;
               transition: 1s;
          }
     }

     .border {
          background-color: #0e0e12;
          padding: 30px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .title {
               display: flex;
               justify-content: space-between;
               gap: 10px;
          }
          .title p {
               display: flex;
               flex-direction: column;
               font-family: "Second_Font";
               font-size: 15px;
          }
          .title span {
               font-size: 25px;
          }
          .title h1 {
               font-size: 22px;
               font-weight: 500;
          }
          & > p {
               font-size: 15px;
               line-height: 17px;
          }
     }
     & > a {
          display: flex;
          justify-content: center;
          margin: 50px 0 0;
          translate: 0 300px;
          opacity: 0;
          transition: 1s;
          button {
               font-size: 35px;
          }
     }
     &.active {
          .cards,
          & > a,
          .cards img {
               scale: 1;
               opacity: 1;
               translate: 0;
          }
     }
}

@media (max-width: 1050px) {
     .courses-section .cards {
          flex-wrap: wrap;
          gap: 50px;
          justify-content: center;
          .card {
               width: 45%;
          }
     }
}

@media (max-width: 700px) {
     .courses-section .cards {
          .card {
               width: 100%;
          }
          .border {
               padding: 5%;
          }
     }
}
